#menuSection {
    display: flex;
    position: fixed;
    flex-direction: row;
    flex-direction: column;
    background-color: var(--overlayColorTransparent);
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-size: cover;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .MenuPillar {
    display: block;
    justify-content: center;
    height: 100%;
    width: 20%;
    background-color: var(--overlayAndList);
    margin-left: auto;
    opacity: 100%;
    overflow-y: scroll;
  }
  .MenuPillar div nav p {
    font-size: 3em;
    font-family: var(--Lalezar);
  }
  .MenuPillar div nav ul {
    list-style: none;
  }
  .MenuPillar div nav {
    padding-left: 60px;
  }
  
  #closeBtnMenu {
    width: max-content;
    font-size: 3em;
    justify-content: center;
    width: 400px;
    height: 100px;
    color: var(--white);
    background-color: var(--overlayColor);
    transition: 100ms;
  }
  
  #closeBtnMenu:hover {
    background-color: var(--basicColor);
  }
  :root {
    --basicColor: #bebebe;
    --overlayColor: #6b6b6b;
    --buttonAndText: #d42900;
    --overlayAndList: #b2b2b2;
    --white: #ffffff;
    --overlayColorTransparent: #6b6b6b82;
    --Bangers: "Bangers", cursive;
    --Lalezar: "Lalezar", cursive;
  }